@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    background-color: #111;
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

#background {
    position: absolute;
    z-index: -1000;
    height: 40vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.796);
}

#mastenote-lable {
    margin-right: auto;
    background-color: rgba(37, 33, 70, 0.796);
}

nav {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    /* width: 100%; */
}

/* nav>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.navbutton {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 50px;
    background-color: rgba(48, 48, 48, 0.27);
    margin-left: 15px;
    font-size: small;
    transition: 500ms ease-in-out;
}

.navbutton:hover {
    background-color: rgba(55, 52, 75, 0.997);
    transition: 200ms ease-in-out;
}

.navbutton a {
    margin: 0 13px 0 13px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbutton>a>img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 24px;
    width: 24px;
}

.form-link {
    font-size: smaller;
    font-style: italic;
    color: #363636;
    margin-top: 7px;
    text-decoration: none;
}

.form-link a {
    text-decoration: none;
    color: #545454;
}

.form-link a:hover {
    text-decoration: underline;
    color: #787878;
}



.form-flex-container {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;

}


.form-class {
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    width: auto;
    background-color: #191919;
    border-radius: 10px;
}

#greet {
    font-size: 2.5rem;
    margin: 20px 0 20px 20px;

}

.form {
    padding: 25px;
    ;
}

.form div label {
    font-size: small;
    font-style: italic;
    color: #363636;
}

.form div input {
    width: 100%;
    border-radius: 7px;
    color: white;
    box-shadow: none;
    border: none;
    border-left: 1px solid rgba(28, 55, 176, 0.61);
    background-color: rgba(33, 33, 33, 0.325);
    margin-top: 10px;
    font-size: large;
    margin-bottom: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

input:focus {
    outline: none;
}

.form input[type='submit'] {
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    font-size: large;
    color: white;
    background-color: #24ff780b;
    border: 1px solid rgba(84, 255, 115, 0.24);

}


.form div input {
    position: relative;
}

.helptext {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    background-color: #1b1b1b;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    padding: 10px;
    transform: translateY(60px);
    display: none;
    max-width: 336px;
    font-size: smaller;
    color: #9f9f9f;
}

.errorlist {
    pointer-events: none;
    max-width: 330px;
    z-index: 11;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    font-style: italic;
    /* position: absolute; */
    background-color: #4f0808;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199); */
    margin: 7px;
    border-radius: 5px;
    border: 2px #f50000 solid;
    padding: 7px;
    /* transform: translateY(-40px); */
    /* animation: 5s cubic-bezier(0.86, 0, 0.07, 1) errorlist forwards; */
}

@keyframes errorlist {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.messages-container {
    display: flex;
    position: absolute;
    z-index: 1000;
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    margin-top: 4rem;
    top: 0;
    justify-content: center;

}

.message {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    max-width: 371px;
}

.success {
    background-color: rgba(0, 255, 0, 0.182);
    border: 1px solid green;
}

.error {
    background-color: rgba(255, 0, 0, 0.182);
    border: 1px solid red;
}

.info {
    background-color: rgba(0, 26, 255, 0.3);
    border: 1px solid rgba(0, 102, 255, 0.984);
}