{%load static%}
<nav class="nav">
    <div>
        <div id="mastenote-lable" class="navbutton">
            <img src="{%static 'note.svg'%}" style="margin-left: 13px;" height="34px" width="34px" alt="">
            <a href="">
                MasterNote
            </a>
        </div>
    </div>
    <div id="leftnav">
        <div class="navbutton">
            {% if user.is_authenticated  %}
             <a href="{%url 'logout'%}">
                <img src="{%static 'logout.svg'%}" title="logout" alt="logoutsvg">
            </a>
            {% else %}
             <a href="{%url 'login'%}">
                <img src="{%static 'login2.svg'%}" title="login" alt="loginsvg">
            </a>
            {% endif %} 
        </div>
        <div class="navbutton">
            <a href="">
                <img src="{%static 'github-mark/github-mark-white.svg'%}" alt="github" title="github">
            </a>
        </div> 
    </div>
</nav>

