{% extends '_base.html' %}
{% block 'main' %}
<div class="main-note-cotainer">
    <form action="" method="post" class="note-new-note-container">
        <div class="note-editor-header">
            <div class="title">
                {{form.title}}
            </div>

            <div class="editor-preview">
                {%load static%}
                <div class="view-pref">
                    <label>
                        <input type="radio" name="changeview" value="0">
                        <img src="{%static 'img/code-panel.svg' %}" height="22px" width="22px" alt="" srcset="">

                    </label>
                    <label>
                        <input type="radio" checked="checked" name="changeview" value="1">
                        <img src="{%static 'img/split.svg' %}" height="22px" width="22px" alt="" srcset="">

                    </label>
                    <label>
                        <input type="radio" name="changeview" value="2">
                        <img src="{%static 'img/preview.svg' %}" height="22px" width="22px" alt="" srcset="">
                    </label>
                </div>
            </div>
        </div>
        <div class="note-editor-container">
            <div id="note-editor" class="note-editor">{{form.body}}</div>
            <div class="note-preview-container" id="note-preview-container">
                <div class="note-preview" id="note-preview">
                </div>
            </div>
        </div>
        {% csrf_token %}
        <div class="publish">
            <button id="publish" type="submit">Publish </button>
        </div>
        
    </form>
</div>

{% endblock %}